.header {
    background-color: #10161f;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 100px;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.header__nav {
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
}

.header__link {
    color: white;
    text-decoration: none;
}

.header__search {
    display: flex;
    flex: 1;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-decoration: #cd9042
}

.header__optionLineOne {
    font-size: 10px;
}

.header__optionLineTwp {
    font-size: 13px;
    font-weight: 800;
}

.header__opBas {
    display: flex;
    color: white;
}

.hedaer__basCount {
    margin-left: 10px;
    margin-right: 10px;
}

.header__searchInput {
    height: 13px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon {
    padding: 4.9px;
    background-color: #cd9042;
}

.header__optionBasket {
    color: white;
    padding: 5px;
}